@use "../variables" as v;
@use "../mixins" as m;

.about {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: v.$all_text;
  padding: 10% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #000;
  background: linear-gradient(to top, #dac9c9, #5d5669);
  background-image: url(https://i.pinimg.com/564x/16/01/d0/1601d090aacbef49b709495a648f953b.jpg);

  @include m.tablet {
    width: 100%;
  }
  @include m.desktop {
    width: 100%;
  }

  &__inner-section {
    width: 95%;
    float: right;
    background: hsla(330, 28%, 89%, 0.3);
    padding: 40px;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
    @include m.desktop {
      padding: 80px;
    }

    @include m.tablet {
      width: 100%;
      padding: 60px;
    }

    &__title {
      margin-bottom: 30px;
      font-size: 3rem;
      text-align: center;
      font-weight: 900;
      color: v.$primary_2;
    }
    &__text {
      font-size: 1.7rem;
      font-weight: bold;
      font-family: v.$header_font;
      color: v.$primary_2;
      text-align: center;
      font-weight: bold;
      margin-bottom: 40px;
      @include m.desktop {
        font-size: 2rem;
      }
    }
    #contactBtn {
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 2px;
      border: none;
      border-radius: 20px;
      padding: 30px;
      width: 200px;
      background-color: v.$primary_4;
      color: v.$primary_2;
      cursor: pointer;

      &:hover {
        transition: 1s;
        background-color: #ecf5f5;
        color: #00999c;
      }

      @include m.tablet {
        font-size: 19px;
        padding: 10px;
        width: 250px;
        font-size: 2rem;
      }
    }
  }
}
