@use "../variables" as v;
@use "../mixins" as m;

#wrapper-checkout {
  margin-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  #shopping-container {
    width: 75%;
    padding: 15px;
    border-radius: 5px;
    background-color: v.$color_1;

    @include m.desktop {
      width: 90%;
      max-width: 800px;
    }

    h1 {
      font-family: v.$header_font;
      font-size: 2rem;
      text-align: center;
      padding: 15px;
      color: v.$primary_2;
    }
  }
}

.no-product {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  font-family: v.$header_font;
}

.ul-chekout {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 20px;

  &__item {
    padding: 10px;

    &__product-container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100%;
      padding-bottom: 5px;
      gap: 10px;
      border-bottom: 1px solid rgba(8, 8, 8, 0.616);
      @include m.desktop {
        width: 90%;
      }

      &__right-div {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        &__flex-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
          gap: 15px;

          &__removeBtn {
            font-size: 1rem;
            cursor: pointer;
            border: none;
            margin: -1px;
            background-color: v.$primary_2;
            display: flex;
            @include m.desktop {
            }
          }

          &__quantity-box {
            display: flex;
            flex-direction: row;
            gap: 5px;

            &__quantity-input {
              width: 18px;
              height: 14px;
              font-size: 1rem;
              text-align: center;
            }

            &__reduceBtn,
            &__increaseBtn {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              border: 1px solid rgba(61, 60, 60, 0.658);
              background-color: white;
              width: 18px;
              height: 14px;
              font-size: 12px;
              border-radius: 3px;
              cursor: pointer;

              &:active {
                background-color: rgba(185, 183, 159, 0.178);
              }
            }
          }
        }
      }

      &__fact-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 30px;

        &__product-title {
          font-family: v.$all_text;
          font-size: 15px;
          margin-top: 0px;
          margin-bottom: 5px;
          color: v.$primary_2;
        }

        &__product-price {
          font-family: sans-serif;
          font-size: 1.3rem;
          margin: 0px;
          color: v.$primary_2;
          text-align: center;
        }
      }

      &__left-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__img-container {
          height: 100px;
          background-color: transparent;

          &__product-img {
            height: 100%;
          }
        }
      }
    }
  }
}

#total-price {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: v.$all_text;
  width: 100%;
  padding: 15px;
  color: v.$primary_2;
  text-align: right;
}
