@use "../variables" as v;
@use "../mixins" as m;

// har haft svårt att använda class name då jag styler med bootstrap //sahra
footer {
  background-color: #222222;
}

footer h5 {
  color: #d8d8d8;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  font-size: 0.8rem;
  color: #999;
  text-decoration: none;
}

footer li a:hover {
  color: #d8d8d8;
}

footer .copyright a {
  color: #000;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

footer .copyright a:hover {
  color: #fff;
  background-color: v.$purple;
}

footer p {
  color: #999;
  font-size: 0.8rem;
}

footer .copyright img {
  width: 30%;
}

.pt-3 {
  font-size: 2rem;
  color: #fff;
}
