@use "../variables" as v;
@use "../mixins" as m;

.text {
  color: v.$primary_2;
  font-size: 1.5rem;
  text-align: center;
  font-family: v.$header_font;
  margin-top: 10px;
  border: 1px solid v.$primary_1;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__form {
    width: 300px;
    margin: 3vh auto 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: v.$color_1;
    @include m.desktop {
      width: 700px;
    }

    .input-control {
      display: flex;
      flex-direction: column;

      &__input {
        border: 2px solid v.$primary_2;
        border-radius: 4px;
        display: block;
        font-size: 1.5rem;
        padding: 10px;
        width: 100%;
        font-family: v.$all_text;
        background-color: v.$color_4;
        color: v.$primary_2;

        &:focus {
          outline: 0;
        }
      }

      &__label {
        font-family: v.$all_text;
        color: v.$primary_2;
      }
    }

    #buyBtn {
      padding: 10px;
      margin-top: 10px;
      width: 100%;
      color: v.$primary_2;
      background-color: v.$color_2;
      border: none;
      border-radius: 4px;
    }
  }
}

.input-control.success input {
  border-color: #09c372;
}

.input-control .error {
  color: v.$color_6;
  font-size: 1rem;
  height: 16px;
}
