@use "../variables" as v;
@use "../mixins" as m;

.section__home {
  width: 100%;
  height: 15vh;
  text-align: center;
  background-color: #2a4b55;

  &__title {
    text-align: center;
    color: #fff;
    padding-top: 50px;
    font-size: 4rem;
    border: 2px #000;
  }
}
.section__container {
  background-color: #2a4b55;
  width: 100%;

  &__product {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a4b55;
    &__title {
      font-size: 2rem;
      font-family: v.$first_page_font;
      color: #fff;
    }
    &__image {
      width: 50%;
      height: 100vh;
    }
    &__description {
      width: 50%;
      text-align: center;
      font-size: 1.2rem;
      font-family: v.$first_page_font;
      padding: 3%;
      color: #fff;
    }
  }
}
