@use "../variables" as v;
@use "../mixins" as m;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Monoton&display=swap");

header {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$primary_4;
  .container-desktop {
    // desktop nav
    display: none;
  }
}
.container-phone {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include m.mixnav;

  #menu-icon {
    font-size: 2rem;
    margin: 0;
    color: v.$primary_2;
  }

  &__title {
    font-family: v.$header_font;
    font-size: 2.7rem;
    display: inline;
    margin: 10px;
    padding: 0;
    color: v.$primary_2;
    @include m.mixnav;
  }

  #shopping-cart-phone {
    font-size: 3rem;
    gap: 40px;
    display: block;
    border-bottom-style: outset;
    background-color: v.$primary_2;
    color: v.$primary_6;
    left: 40px;
  }

  &__hamburgare {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: v.$primary_5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
  }

  #close {
    font-size: 1.7rem;
    right: 7px;
    top: 7px;
    position: absolute;
  }
}

.block {
  display: block;
}
.none {
  display: none;
}

.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
