@use "../variables" as v;
@use "../mixins" as m;
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

@include m.desktop {
  header {
    height: 12vh;

    #phone {
      display: none;
    }
    .container-desktop {
      padding: 60px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      height: 100%;

      ul {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        list-style: none;
        gap: 60px;
        @include m.tablet {
          gap: 30px;
        }

        li {
          font-family: v.$all_text;
          text-transform: uppercase;

          li:hover {
            border-bottom: 1px solid black;
          }

          a {
            text-decoration: none;
            color: v.$primary_2;
            font-size: 2rem;
            letter-spacing: 4px;
            transition: transform 0.2s ease-out 100ms;
            @include m.tablet {
              font-size: 1.5rem;
            }
          }

          a:hover {
            background-color: v.$color-transparent;
          }
        }
      }
      #title {
        font-family: v.$header_font;
        font-size: 3rem;
        display: inline;
        margin: 0;
        color: v.$primary_2;
        @include m.tablet {
          font-size: 2rem;
        }
      }

      #shopping-cart {
        background-color: v.$primary_2;
        color: v.$primary_6;
        font-size: 3rem;
      }
      #shopping-cart i:hover {
        transform: scale(1.2);
      }
    }
  }
}
