@use "./variables" as v;
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: v.$primary_6;
  width: 100%;
  font-family: v.$first_page_font;
}
