$primary_1: #000;
$primary_2: #fff;
$primary_3: #b2b2b2;
$primary_4: #181818;
$color-transparent: rgba(255, 255, 255, 0.2);
$mobile_breakpoints: 280px;
$tablet_breakpoints: 768px;
$desktop_breakpoints: 1200px;
