@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap");

$primary_1: #000;
$primary_2: #fff;
$primary_3: #b2b2b2;
$primary_4: #181818;
$primary_5: #e2e2e2;
$primary_6: #2a4b55; // hemsidans färg
$color-transparent: #496d7c;
$dark: #374151;
$darker: #1f2937;
$darker: #1f2937;
$darkest: #111827;
$grey: #6b7280;
$pink: #ec4899;
$purple: #8b5cf6;
$light: #eee;
$green: #68dea0;
$myFont_family: "Indie Flower", cursive;

// medie query
$mobile_breakpoints: 480px;
$tablet_breakpoints: 768px;
$desktop_breakpoints: 1200px;

// font family
$first_page_font: "Josefin Sans", sans-serif;
$header_font: "EB Garamond", serif;
$all_text: "Bodoni Moda", serif;
